@charset "utf-8";

html, body, div, input, textarea, img {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #0a8cd2;
}

img {
    border: none;
    display: block;
}

body {
    font: 14px/1.5 "Arial","Helvetica Neue",Helvetica,"Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
    position: relative;
    min-width: 1040px;
    background-color: #f0f0f0;
    color: #333;
}

.header_wrap {
    background: #1f90de;
    height: 45px;
    overflow: hidden;
}

.header {
    color: white;
    width: 1040px;
    margin: 0 auto;
}

.header > .header_title, .header > .header_content {
    float: left;
}

.header_title {
    font-size: 26px;
    padding: 3px 10px;
}

.header_content {
    font-size: 17px;
    padding: 10px 10px;
}

.content {
    overflow: hidden;
    width: 1040px;
    margin: 20px auto 0;
    position: relative;
}

.content_main {
    width: 725px;
    min-height: 800px;
    float: left;
}

.content_right {
    width: 300px;
    float: right;
}

.image_list > .list_item {
    background-color: white;
    margin-bottom: 15px;
    border-radius: 5px;
}

.image_title {
    color: #777;
    padding: 15px 20px 0 60px;
    font-size: 20px;
}

.image_wrap {
    margin: 15px auto 0;
    width: 430px;
}

.image_tools {
    overflow: hidden;
    padding: 15px 20px;
}

.image_tools > div {
    float: right;
    overflow: hidden;
    margin-right: 10px;
    color: #0a8cd2;
}

.image_tool_item_title {
    padding: 5px 0;
}

.image_tool_item > div {
    float: left;
    margin-left: 9px;
}

.more_button {
    width: 85px;
    margin: 10px auto;
    border: 1px solid #d9d9d9;
    background-color: #f2f2f2;
    border-radius: 3px;
    padding: 3px;
}

.box {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 15px;
}

.login_btn {
    display: block;
    width: 140px;
    border-radius: 5px;
    border: 1px solid #efefef;
    background: #f6f7f7;
    padding: 10px 0;
    margin: 0 auto;
    text-align: center;
}

#weibo-login img{
    display: initial;
}

.sina_publish {
    width: 32px;
    height: 32px;
    background: url("./images/share.png") 0 -104px no-repeat;
}

.unlogin_panel {
    margin: 10px 0 0 0;
    border-top: 2px solid #ddd;
    padding: 5px;
    color: #1f90de;
}

.android_qrcode {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background: url("./images/androidqrcode.png") 0 0 no-repeat;
}

.android_download {
    color: #1f90de;
    margin-left: 40px;
}

.footer {
    overflow: hidden;
    width: 1040px;
    margin: 20px auto 0;
    position: relative;
    background-color: white;
}

.footer_txt {
    padding: 3px 20px;
    font-size: 12px;
    float: left;
}